/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

############################
# sails / node.js / npm
############################
node_modules
.tmp
npm-debug.log
package-lock.json
package-lock.*
.waterline
.node_history

############################
# editor & OS files
############################
*.swo
*.swp
*.swn
*.swm
*.seed
*.log
*.out
*.pid
lib-cov
.DS_STORE
*#
*\#
.\#*
*~
.idea
.netbeans
nbproject

############################
# misc
############################
dump.rdb
